body{
background:#000000;}
.container-fluid{
margin-left:30px;
margin-right:30px;
background-color:#FFFFFF;}
.row-1{
height:60px;}
.row-1-2{
margin-left:10px;
margin-top:18px;}
.shouye-1{
font-family:"ËÎÌå";
font-size:24px;
text-align:left;
line-height:40px;
margin-left:40px;
margin-top:10px;}
.shouye-2{
color:#FF0000;}
.shouye-3{
color:#000000;}
.tubiao-1{
width:20px;
height:25px;
margin-top:-5px;}
.row-2{
background-color:#97999f;
height:600px;}
.row-2-2{
color:#FFFFFF;
font-size:50px;
margin-left:100px;
margin-top:250px;}
.row-2-3{
color:#FFFFFF;
font-size:24px;
margin-left:100px;}
.row-2-4{
width:250px;
height:50px;
text-align:center;
background-color:#FF6666;
border:none;
font-family:"Î¢ÈíÑÅºÚ";
font-size:30px;
color:#FFFFFF;
margin-left:100px;
margin-top:30px;}
.row-3{
}
.row-3-1{
text-align:center;
font-size:16px;}
.row-3-1 img{
padding-top:30px;}
.row-3-1 p{
padding-top:30px;
padding-bottom:30px;}
.row-3-2{
text-align:center;}
.row-3-2 hr{
width:2px;
height:60px;
border:none;
background-color:#CCCCCC;
margin-top:90px;}
.row-4{
height:400px;
background-color:#ededed;
text-align:center;}
.row-4 img{
margin-top:130px;}
.row-4 p{
font-size:50px;
font-family:"Î¢ÈíÑÅºÚ";
margin-top:20px;}
.row-5{
height:340px;
background-color:#bea295;
text-align:center;}
.row-5 hr{
height:2px;
width:30px;
border:none;
background-color:#FFFFFF;}
.row-5-1{
color:#FFFFFF;
font-size:21px;
padding-top:40px;}
.row-5-2{
color:#FFFFFF;
font-size:12px;}
.dropdown{
float:left;
margin-left:30px;}
#dropdownMenu1{
width:200px;
text-align:left;}
.btn .caret{
margin-left:130px;
}
.row-5-3{
margin-left:190px;
margin-top:60px;}
.row-5-3-4{
width:200px;
height:30px;
text-align:center;
background-color:#FF6666;
border:none;
font-family:"Î¢ÈíÑÅºÚ";
font-size:16px;
color:#FFFFFF;
margin-left:-140px;}
.thumbnail{
text-align:center;
margin:0px;}
.thumbnail img{
width:242px;}
.row-6{
text-align:center;
height:650px;
background-color:#f7f7f7;
padding:60px;}
.row-7-1{
height:500px;
background-color:#2b374c;
text-align:center;}
.row-7-1 p{
color:#FFFFFF;}
.row-7-1-1{
font-size:40px;
margin-top:100px;}
.row-7-1-2{
font-size:160px;}
.row-7-1-3{
font-size:20px;}
.row-7-2{
text-align:center;
height:500px;
padding:100px;}
.row-7-2-1{
font-size:24px;}
.row-7-2-1 span{
color:red;}
.row-7-2-2{
text-align:left;
font-size:12px;
line-height:40px;
color:#CCCCCC;}
.row-7-2-3{
background:#FFFFFF;
color:#FF3333;
width:100px;
height:30px;
border:solid;
border-color:#FF3366;
text-align:center;}
.row-8-1{
background-color:#e8504f;
text-align:center;
height:500px;}
.row-8-1-1{
color:#FFFFFF;
font-size:18px;
margin-top:180px;}
.row-8-1-2{
width:50px;
height:2px;
border:none;
background-color:#FFFFFF;}
.row-8-1-3{
background:#e8504f;
color:#FFFFFF;
width:100px;
height:30px;
border:solid;
border-color:#FFFFFF;
text-align:center;}
.row-8-2{
text-align:center;
height:500px;}
.row-8-2-1{
font-size:18px;
margin-top:180px;}
.row-8-2-2{
width:50px;
height:2px;
border:none;
background-color:#999999;}
.row-8-2-3{
color:#FF3333;
width:100px;
height:30px;
border:solid;
border-color:#FF3333;
text-align:center;
background-color:#FFFFFF;}
.row-8-3{
text-align:center;
height:500px;
background:url(../photo/row-8-3.png);}
.row-9{
text-align:center;
height:300px;
padding:80px;}
.row-9-1{
font-size:24px;}
.row-9-2{
width:50px;
height:2px;
border:none;
background-color:#FF3333;}
.row-9-3{
color:#CCCCCC;}
.row-10{
height:450px;}
.row-11{
height:400px;
background-color:#33363f;
text-align:center;
padding-left:400px;
padding-right:400px;
padding-top:100px;}
.row-11{
color:#FFFFFF;}
.row-11-1{
font-size:24px;}
.row-11-2{
font-size:10px;}
.row-11-3{
margin-top:30px;}
.row-10-1{
padding-top:30px;}
.row-10-on{
font-size:10px;
color:#CCCCCC;
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;}
.row-10-dowm{
font-size:10px;
color:#CCCCCC;
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;}
.row-10-3{
border:none;
background:#FFFFFF;
float:right;}
.row-10-4{
padding-top:30px;}
.row-10-5{
border:none;
width:620px;
margin-left:15px;
margin-top:40px;
height:40px;}