body{
background-color:#333333;
margin-top:0px;}

.content{
width:980px;
height:1368px;
position:absolute;
left:50%;
transform:translateX(-50%);
background-color:#FFFFFF;}

.row-1-1{
float:left;
width:110px;
height:61px;
background-color:#FF0099;
margin-left:44px;}
.row-1-2{
float:right;
width:110px;
height:61px;}
.row-1-1 p{
font-family:"ºÚÌå";
font-size:12px;
color:#ffffff;
diaplay:block;
line-height:80px;
margin-left:10px;}
.row-1-2 p{
font-family:"ºÚÌå";
font-size:12px;
color:#d45d5c;
diaplay:block;
line-height:80px;
margin-left:10px;}

.row-2-1{
width:892px;
height:2px;
border:0;
background-color:#938e8c;}

.row-3-1{
width:645px;
height:301px;
margin-left:44px;
margin-top:20px;
background:url(../photo/2.png);
float:left;
overflow:hidden;}
.row-3-1-1{
width:191px;
height:301px;
float:left;
background:#75b86b;
opacity: 0.5;}
.row-3-1-2{
width:191px;
height:301px;
float:right;
background:#FF99FF;
opacity: 0.5;}
.row-3-2{
margin-right:44px;
margin-top:10px;
float:right;}
.row-3-2-1{
width:203px;
height:2px;
border:0;
background-color:#cc8091;}
.row-3-2-2{
font-size:24px;
font-family:"Î¢ÈíÑÅºÚ";
color:#000000;
diaplay:block;
text-decoration:underline;
margin:0;}
.row-3-2-2 span{
font-size:36px;}
.row-3-2-4{
font-size:12px;
font-family:"¿¬Ìå";
color:#676767;
margin-top:10px;}
.row-3-2-5{
font-size:116px;
font-family:"Î¢ÈíÑÅºÚ";
color:#75b86b;
font-style:italic;
text-decoration:underline;
margin-top:-40px;
margin-bottom:0px;
padding:0;}
.row-3-6-1{
float:left;
padding:0;}
.row-3-6-2{
float:left;
padding:0;}
.row-3-6-1 p{
font-family:"Î¢ÈíÑÅºÚ";
font-size:55px;
color:#cc8091;
margin-top:-20px;}
.row-3-6-2-1{
font-family:"Î¢ÈíÑÅºÚ";
font-size:21px;
color:#cc8091;
margin-top:5px;}
.row-3-6-2-2{
font-family:"Î¢ÈíÑÅºÚ";
font-size:12px;
color:#cc8091;
margin-top:-25px;
}
.row-4-1{
width:200px;
height:300px;
float:left;
margin-left:28px;
margin-top:20px;}
.row-4-2{
width:200px;
height:300px;
float:left;
margin-left:28px;
margin-top:20px;}
.row-4-3{
width:200px;
height:300px;
float:left;
margin-left:28px;
margin-top:20px;}
.row-4-1 p{
font-family:"ËÎÌå";
font-size:12px;
color:#767777;
margin:16px;}
.row-4-1 span{
font-size:16px;
font-family:"Î¢ÈíÑÅºÚ";
color:#418c59;
text-decoration:underline;}
.row-4-2 span{
font-size:16px;
font-family:"Î¢ÈíÑÅºÚ";
color:#d2994f;
text-decoration:underline;}
.row-4-3 span{
font-size:16px;
font-family:"Î¢ÈíÑÅºÚ";
color:#cc7680;
text-decoration:underline;}
.row-4-2 p{
font-family:"Î¢ÈíÑÅºÚ";
font-size:12px;
color:#231815;
margin:16px;
opacity: 0.7;}
.row-4-3-2 span{
font-size:12px;
font-family:"Î¢ÈíÑÅºÚ";
color:#cd4a48;
margin:16px;
font-style:italic;
opacity: 0.7;}
.row-4-3-2{
float:left;
margin-top:20px;}
.row-5-1{
float:left;
width:415px;
margin-left:44px;
margin-top:-50px;}
.row-5-1-2{
overflow:hidden;}
.row-5-1-2-2{
float:right;
clear:right;
width:100px;
height:200px;
margin:10px;
background:url(../photo/bangong.jpg);
}
.row-5-1-1{
overflow:hidden;}
.row-5-1-1-1{
font-family:"ºÚÌå";
font-size:72px;
color:#f5e327;
font-style:italic;
float:left;}
.row-5-1-1-2{
font-family:"ºÚÌå";
font-size:42px;
color:#11456b;
float:right;
margin:16px;
margin-top:20px;
margin-right:64px;}
.row-5-1-1-4{
font-family:"ºÚÌå";
font-size:42px;
color:#11456b;}
.row-5-1-1-3{
font-family:"ºÚÌå";
font-size:33px;
color:#11456b;}
.row-5-1-2-1{
font-family:"ËÎÌå";
font-size:12px;
color:#767777;}
.row-5-1-2-1 span{
font-family:"Î¢ÈíÑÅºÚ";
font-size:70px;
color:#f5e327;
float:left;
margin-top:-10px;}
.row-5-2{
float:right;
width:458px;
margin-top:-20px;
margin-right:44px;}
.row-5-2-1{
height:275px;
width:458px;
background:url(../photo/1.jpg);}
.row-5-2-1-1{
height:61px;
width:458px;
background-color:#CCCCCC;
opacity: 0.2;
position:relative;
top:130px;}
.row-5-2-1-1hr{
width:3px;
height:44px;
border:0;
background-color:#72b16a;
position:relative;
top:224px;
left:-200px;
z-index:2;}
.row-5-2-1-1s1{
font-size:26px;
font-family:"Î¢ÈíÑÅºÚ";
color:#FFFFFF;
position:relative;
top:180px;
left:50px;
z-index:2;}
.row-5-2-1-1s2{
font-size:12px;
font-family:"Î¢ÈíÑÅºÚ";
color:#72b16a;
position:relative;
top:180px;
left:55px;
z-index:2;
font-style:italic;}
.row-5-2-2{
width:418px;
background-color:#FFCCFF;
padding:20px;
padding-bottom:0px;
margin-top:20px;
overflow:hidden;}
.row-5-2-2-1{
line-height:20px;
font-size:16px;
font-color:#5a5b5b;
font-family:"ËÎÌå";}
.row-5-2-2-1 p{}
.row-5-2-2-2{
font-size:12px;
font-family:"ËÎÌå";
color:#5a5b5b;
font-style:italic;}
.row-5-2-2-2-3{
float:left;
background-color:#FF0000;
width:260px;
height:160px;
padding:0;
margin-left:-20px;}
.row-5-2-2-4{
float:right;
width:260px;
height:160px;}
.row-5-2-2-2-3 p{
color:#FFFFFF;}
.row-5-2-2-2-3-1{
font-size:110px;
font-family:"Î¢ÈíÑÅºÚ";
float:left;}
.row-5-2-2-2-3-2{
width:2px;
height:86px;
background-color:#FFFFFF;
float:left;
margin-top:30px;}
.row-5-2-2-2-3-3{
color:#FFFFFF;
float:left;
margin-top:40px;
margin-left:10px;
font-style:italic;}
.row-5-2-2-2-3-4{
color:#FFFFFF;
font-size:12px;
font-family:"ºÚÌå";
}
.la{
float:right;
height:100px;
width:170px;
padding:0px 0px 0px 0px;
}
.la-1{
font-size:72px;
color:#d45d5c;
font-family:"ºÚÌå";
float:left;
margin-top:-20px;
margin-left:-30px;
text-align:left;}
.la-2{
font-size:72px;
color:#d45d5c;
font-family:"ºÚÌå";
float:right;
margin-top:-25px;
margin-right:80px;
}
.la p{
font-size:14px;
font-family:"ºÚÌå";
font-style:italic;
margin:16px;}
.row-6{
height:20px;
margin-top:20px;}
.row-6-1{
width:896px;
height:2px;
border:0;
background-color:#938e8c;
float:left;
margin-top:20px;
margin-left:40px;}
.row-7{
float:right;
width:110px;
height:61px;
margin-right:10px;}
.row-7 p{
font-family:"ºÚÌå";
font-size:12px;
color:#d45d5c;
diaplay:block;
margin-right:90px;
margin-top:-8px;}